<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon name="film" size="large"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngFor="let w of match.results">
    <ion-grid>
    <ion-row>
    <ion-col class="ion-text-center">
    <img src="https://image.tmdb.org/t/p/w500/{{w.poster_path}}" height="180px"><br/>
    </ion-col>

    <ion-col class="ion-text-center">

      <b> {{w.title}}</b><br/>

      <div *ngIf="w.vote_average > '7'">
        <ion-text color="primary">Rating: {{w.vote_average}}</ion-text>
      </div>

      <div *ngIf="w.vote_average >  '6' && '7' >= w.vote_average">
        <ion-text color="success">Rating: {{w.vote_average}}</ion-text>
      </div>

      <div *ngIf="'6' >= w.vote_average">
        <ion-text color="danger">Rating: {{w.vote_average}}</ion-text>
      </div>


       <i>Release:{{w.release_date | date:'dd-MMM-yyyy '}}</i>
    </ion-col>
    </ion-row>
    </ion-grid>
    </ion-item>

</ion-content>
